{% extends 'main.html' %}
{% block body %}
    <div class="container mt-3">
        <h1>{{ spending.title }}</h1>
        <h5>{{ spending.date }}</h5>
        <p>{{ spending.description }}</p>
        {% if installments %}
            <hr>
            {% for installment in installments %}  
                <div class="installments">
                    <span>{{ installment.num }} Installment Payment</span>
                    <span>/ R$ {{ installment.spending.cost_per_installment }}</span>
                    {% if installment.paid == False %}
                        <a href="{{ url_for('pay_installment', id_s=installment.spending.id, id_i=installment.id) }}"><span class="mx-3">Pay</span></a>
                    {% else %}
                        <span class="mx-3">Paid</span>
                        <span class="mx-3">{{ installment.date }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}